<!DOCTYPE html>
<html>
<head>
	<title>AI god</title>
	<!-- <link rel="stylesheet" href="/css/pages.css" /> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="./js/script.js" charset="utf-8"></script>
	<script src="./js/contentstashable.js" charset="utf-8"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

      <div class="row">
          {{{body}}}
      </div>



</body>
</html>
