  <!-- CSS link -->
  <link rel="stylesheet" href="/css/pages.css"/>
  <link rel="stylesheet" href="/css/nav.css">

  <div class="header">
    <!-- NAV BAR -->
      <div class="nav-wrapper">
        <span class="headline">
          <div class="nav-logo">
            <h2 id="content" {{#if user}} contenteditable {{else}} {{/if}} edit>AI god</h2>
          </div>
          <div class="nav-bar">
            {{#if user}}
            <a href="/users/register">
              <div class="nav-item">
                <h3>Settings</h3>
              </div>
            </a>
            {{else}} {{/if}}
            <a href="/events">
              <div class="nav-item">
                <h3>Events</h3>
              </div>
            </a>
            <a href="/about">
              <div class="nav-item">
                <h3>About</h3>
              </div>
            </a>
            <a href="/">
              <div class="nav-item">
                <h3>Home</h3>
              </div>
            </a>
          </div>
        </span>
      </div>
        <!-- HEADER TEXT -->
        <div class="header-title">
          <h2>About</h2>
          <h4>
            <span id="change1" {{#if user}} contenteditable {{else}} {{/if}} edit class="header-desc">Who are we</span>
            <span id="change3" {{#if user}} contenteditable {{else}} {{/if}} edit class="header-desc">What do we believe</span>
            <span id="change5" {{#if user}} contenteditable {{else}} {{/if}} edit class="header-desc">Meetings</span>
            <span id="change7" {{#if user}} contenteditable {{else}} {{/if}} edit class="header-desc">Contact us</span>
          </h4>
        </div>
      </div>

  <!-- CONTENT -->

  <div class="flex-grid">
    <div class="col">
      <div class="about-info">
        <p id="change1" {{#if user}} contenteditable {{else}} {{/if}} edit>Who are we</p>
        <img class="arrow-button" src="img/arrow-button.svg" alt="">
      </div>
      <div class="panel">
        <p id="change2" {{#if user}} contenteditable {{else}} {{/if}} edit>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col">
      <div class="about-info">
        <p id="change3" {{#if user}} contenteditable {{else}} {{/if}} edit>What we believe</p>
        <img class="arrow-button" src="img/arrow-button.svg" alt="">
      </div>
      <div class="panel">
        <p id="change4" {{#if user}} contenteditable {{else}} {{/if}} edit>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  <div class="flex-grid">
    <div class="col">
      <div class="about-info">
        <p id="change5" {{#if user}} contenteditable {{else}} {{/if}} edit>Meetings</p>
        <img class="arrow-button" src="img/arrow-button.svg" alt="">
      </div>
      <div class="panel">
        <p id="change6" {{#if user}} contenteditable {{else}} {{/if}} edit>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="col">
      <div class="about-info">
        <p id="change7" {{#if user}} contenteditable {{else}} {{/if}} edit>Contact us</p>
        <img class="arrow-button" src="img/arrow-button.svg" alt="">
      </div>
      <div class="panel">
        <p id="change8" {{#if user}} contenteditable {{else}} {{/if}} edit>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
