<!-- CSS link -->
<link rel="stylesheet" href="/css/pages.css"/>

<div class="header header-events">
  <!-- NAV BAR -->
		<div class="nav-wrapper">
			<span class="headline">
				<div class="nav-logo">
					<h2 id="content" {{#if user}} contenteditable {{else}} {{/if}} edit>AI god</h2>
				</div>
				<div class="nav-bar">
          {{#if user}}
          <a href="/users/register">
            <div class="nav-item">
              <h3>Settings</h3>
            </div>
          </a>
          {{else}} {{/if}}
					<a href="/events">
						<div class="nav-item">
							<h3>Events</h3>
						</div>
					</a>
					<a href="/about">
						<div class="nav-item">
							<h3>About</h3>
						</div>
					</a>
					<a href="/">
						<div class="nav-item">
							<h3>Home</h3>
						</div>
					</a>
				</div>
			</span>
		</div>
  <!-- HEADER TEXT -->
  <div class="header-title">
    <h2>Events</h2>
  </div>
</div>
<!-- CONTENT -->
<div class="flex-grid event_grid-wrap">
<div class="col">
  <div class="flex-grid even_grid-events">
    <div class="col">
			{{#each events}}
      <div class="img-container">
        <div class="img-main">

        </div>
        <div class="img-overlay">
					<p>{{date}}</p>
        </div>
        <div class="img_text-overlay">
          <h5>{{name}}</h5>
        </div>
      </div>
			{{/each}}
    </div>
	</div>
</div>

<div class="col">
  <div class="event_col-container">
    <div class="event_col-header">
      <h3><span class="headline event_col-header_headline">Event name</span></h3>
    </div>
    <div class="event_col-body">
      <div class="flex-grid">
        <div class="col">
          <h4><span class="headline_col-text_headline">Time and place</span></h4>
        </div>
      </div>
      <div class="flex-grid">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="flex-grid">
        <div class="col">
          <h4><span class="headline_col-text_headline">Info</span></h4>
        </div>
      </div>
      <div class="flex-grid">
        <div class="col">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
