<!-- CSS link -->
<link rel="stylesheet" href="/css/style.css" />

<!-- NAV BAR -->
  <div class="nav-wrapper">
    <span class="headline">
      <div class="nav-logo">
        <h2 id="content" {{#if user}} contenteditable {{else}} {{/if}} edit>AI god</h2>
      </div>
      <div class="nav-bar">
        {{#if user}}
        <a href="/users/register">
          <div class="nav-item">
            <h3>Settings</h3>
          </div>
        </a>
        {{else}} {{/if}}
        <a href="/events">
          <div class="nav-item">
            <h3>Events</h3>
          </div>
        </a>
        <a href="/about">
          <div class="nav-item">
            <h3>About</h3>
          </div>
        </a>
        <a href="/">
          <div class="nav-item">
            <h3>Home</h3>
          </div>
        </a>
      </div>
    </span>
  </div>

<!-- CONTENT -->
<div class="content-wrapper">
  <div class="content-welcome">
    <h2 id="content" {{#if user}} contenteditable {{else}} {{/if}} edit>Test</h2>

  </div>
  <div class="content-events">
    <h2>Upcomming events</h2>
  </div>
  <div class="flex-grid even_grid-events">
    <div class="col">
      {{#each events}}
      <div class="img-container">
        <div class="img-main">

        </div>
        <div class="img-overlay">
          <p>{{date}}</p>
        </div>
        <div class="img_text-overlay">
          <h5>{{name}}</h5>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
