<!-- CSS link -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/nav.css">

<div class="text-container">
    <div class="header">
      <h2>Admin pannel login</h2>
    </div>
  </div>
  <div class="login_box-container">
    <form method="post" action="/users/login">
        <div class="group">
          <input type="text" name="username">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Username</label>
        </div>
        <div class="group">
          <input type="password" name="password">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <button type="submit" class="btn_login">Submit</button>
      </form>
  </div>
