<link rel="stylesheet" href="/css/pages.css"/>


<div class="header header-events header-settings">
  <!-- NAV BAR -->
		<div class="nav-wrapper">
			<span class="headline">
				<div class="nav-logo">
					<h2 id="content" {{#if user}} contenteditable {{else}} {{/if}}>AI god</h2>
				</div>
				<div class="nav-bar">
          {{#if user}}
          <a href="/users/register">
            <div class="nav-item">
              <h3>Settings</h3>
            </div>
          </a>
          {{else}} {{/if}}
					<a href="/events">
						<div class="nav-item">
							<h3>Events</h3>
						</div>
					</a>
					<a href="/about">
						<div class="nav-item">
							<h3>About</h3>
						</div>
					</a>
					<a href="/">
						<div class="nav-item">
							<h3>Home</h3>
						</div>
					</a>
				</div>
			</span>
		</div>
  <!-- HEADER TEXT -->
  <div class="header-title">
    <h2>Settings</h2>
    <h4>
			{{{EventsArray}}}
    </h4>
  </div>
</div>

<!-- CONTENT -->

<div class="flex-grid">
  <div class="col">
    <h3 class="content-header">Add admin account</h3>
    <form method="post" action="/users/register">
      <div class="group">
        <input type="text" class="form-control" placeholder="Name" name="name">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name</label>
      </div>
      <div class="group">
        <input type="text" class="form-control" placeholder="Username" name="username">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Username</label>
      </div>
      <div class="group">
        <input type="email" class="form-control" placeholder="Email" name="email">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Username</label>
      </div>
      <div class="group">
        <input type="password" class="form-control" placeholder="Password" name="password">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Password</label>
      </div>
      <div class="group">
        <input type="password" class="form-control" placeholder="Password" name="password2">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Confirm Password</label>
      </div>
      <button type="submit" class="btn_invis">Submit</button>
    </form>
  </div>
  <div class="col">
    <h3 class="content-header">Add events</h3>
    <form class="" method="post" action="/events/addevent">
      <div class="group">
        <input type="text" class="form-control" placeholder="Name" name="name">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Name of event</label>
      </div>
      <div class="group">
        <input type="text" class="form-control" placeholder="Date" name="date">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Date of event</label>
      </div>
      <button type="submit" class="btn_invis">Submit</button>
    </form>
  </div>
</div>
<!-- <div class="flex-grid">
  <div class="col">
    <input type="button" value="Logout" class="logout"/>
  </div>
</div> -->
