/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~GENERAL~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.headline:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 80%;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);
  margin-top: 5px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~REGISTER~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.login_box-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  /*background: rgba(0,0,0,0.1);*/
  width: 500px;
  height: 200px;
  margin-top: 75px;
}

.group {
  position:relative;
  margin-bottom:45px;
  display: inline-block;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label {
  font-family: 'Julius Sans One', sans-serif;
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-30px;
  font-size: 20px;
  color: white;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:black;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~HEADER~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header {
  height: 600px;
  background-image: url("../img/background_about.jpg");
  background-size: cover;
  position: relative;
}

.header-events {
  background-image: url('../img/background_event.jpg');
}

.header-settings {
  background-image: url('../img/background_settings.jpg');
}

/* ~~~~NAVBAR~~~~ */

.nav-wrapper {
  position: relative;
  height: 50px;
}

.nav-logo {
  position: absolute;
  left: 200px;
  color: white;
  bottom: 0;
  width: 50%;
}

.nav-logo > h2 {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 2.875rem;
  letter-spacing: 4px;
}

.nav-bar {
  position: absolute;
  right: 200px;
  width: 50%;
  color: white;
  padding: 0;
  margin: 0;
  bottom: 50%;
  top: 50%;
}

.nav-item {
  display: inline-block;
  margin-left: 125px;
  float: right;
  transform: translate(-50%, -50%);
}

.nav-item > h3 {
  color: white;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1;
}

/* ~~~~HEADER TEXT ~~~~ */

.header-title {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.header-title > h2 {
  margin-top: 125px;
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 2000;
  font-size: 4.5rem;
  letter-spacing: 6px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.header-desc {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1;
  color: white;
  margin-top: 5px;
  text-align: center;
}

.header-desc:after {
  content: "|";
  margin-left: .5rem;
  margin-right: .5rem;
}

.header-desc:last-child::after {
  content: " "
}

/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~CONTENT~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Fix it for left side only
.flex-grid:first-child {
  border-right: 1px solid black;
} */


.even_grid-events {
  margin-top: 0px;
}

.flex-grid .col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

/* ~~~~ SLIDERS ~~~~ */

.panel, .about-info {
    padding: 5px;
    text-align: left;
    background-color: white;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.about-info {
  cursor:  pointer;
}

.about-info > p, .panel > p {
  display: inline-block;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
}

.panel > p {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 200;
}

.about-info > img {
  width: 20px;
  display: inline-block;
  margin: 0;
  float: right;
  opacity: 0.7;
}

.panel {
  display: none;
}

/* EVENT PAGE - images */

.img-container {
  cursor: pointer;
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

.img-main {
  background-image: url('http://via.placeholder.com/200x200');
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: grey;
  height: 60px;
  width: 60px;
}

.img-overlay > p {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: black;
}

.img_text-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 10px;
  left: 0;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.img_text-overlay > h5 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.15rem;
  color: black;
}

/* EVENT PAGE - text */

.event_col-container {
  height: 100%;
  border-left: 1px solid black;
}



.event_col-header > h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 2000;
  font-size: 3.5rem;
  letter-spacing: 3px;
  color: black;
  text-transform: capitalize;
  margin-top: 0px;
  position: relative;
  text-align: center;
}

.event_col-header_headline:after {
  width: 30%;
  border: 1px solid black;
  margin-top: 10px;
}

.event_col-body > .flex-grid > .col > h4 {
  margin-top: -10px;
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  color: black;
}

.event_col-body > .flex-grid > .col > p {
  margin-top: -100px;
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: black;
  padding: 5px;
}

.headline_col-text_headline{
  border: 1px solid black;
  padding: 5px;
}

/* Settings page */

.flex-grid > .col > .content-header {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 1500;
  font-size: 2rem;
  letter-spacing: 3px;
  color: black;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.admin_add {
  text-align: center;
}

.btn_invis {
  display: none;
}

/* logout */
.logout {
 background:url('https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login-hover.png') no-repeat 5px 5px #484B4F;
  width: 100px;
  cursor:pointer;
  border-radius:50px;
  padding:10px 20px 10px 0;
  color:White;
  font-size:14px;
  text-align:left;
  text-indent:40px;
  display:block;
  margin:0 auto;

  /* Animations: */
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: .4s;
  -webkit-transition-property: all;

  -moz-transition-timing-function: ease-in-out;
  -moz-transition-duration: .4s;
  -moz-transition-property: all;
}

.logout:hover {
  background-image: url( 'https://dh3vbjnk0bnfa.cloudfront.net/static/centralauth/images/btn-login.png' );
  background-position: 65px 5px;
  text-indent: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~ANIMATION~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.arrow-button.rotate_90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
