/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~GENERAL~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

* { box-sizing:border-box; }

body {
  margin: 0px;
  background-image: url("../img/background_2.jpeg");
  background-size: cover;

}

a {
  text-decoration: none;
}

.headline:after {
  content:' ';
  position: absolute;
  top:100%;
  left:50%;
  width: 80%;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  transform:translateX(-50%);
  margin-top: 5px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~HEADER~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/

.nav-wrapper {
  position: relative;
  height: 50px;
}

/* ~~~~NAVBAR~~~~ */

.nav-logo {
  position: absolute;
  left: 200px;
  color: white;
  bottom: 0;
  width: 50%;
}

.nav-logo > h2 {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 2.875rem;
  letter-spacing: 4px;
}

.nav-bar {
  position: absolute;
  right: 200px;
  width: 50%;
  color: white;
  padding: 0;
  margin: 0;
  bottom: 50%;
  top: 50%;
}

.nav-item {
  display: inline-block;
  margin-left: 125px;
  float: right;
  transform: translate(-50%, -50%);
}

.nav-item > h3 {
  color: white;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~CONTENT~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~*/


/* login */

/* button */

.btn_login {
  display: none;
}

/* Header text */

.text-container {
  text-align: center;
  color: white;
}

.text-container > .header > h2 {
  margin-top: 75px;
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 2000;
  font-size: 4.5rem;
  letter-spacing: 6px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 5px;
}

/* login field */

.login_box-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  /*background: rgba(0,0,0,0.1);*/
  width: 500px;
  height: 200px;
  margin-top: 75px;
}

.group {
  position:relative;
  margin-bottom:45px;
  display: inline-block;
}

input {
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label {
  font-family: 'Julius Sans One', sans-serif;
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-30px;
  font-size: 20px;
  color: white;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:black;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.content-wrapper {
  height: auto;
  width: 100%;
  margin-top: 75px;
}

.content-welcome, .content-events {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

/* Edit styling */

button {
  border: none;
  padding: 0.8em;
  background: #F96;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 0 0 1em;
}

button:hover, button:focus {
  cursor: pointer;
  outline: none;
}

#editor {
  padding: 1em;
  background: #E6E6E6;
  border-radius: 3px;
}

/*
.content-welcome > .text-edit-icon {
  width: 45px;
  height: 45px;
  float: right;
  margin-right: 20px;
  margin-bottom: 50px;
} */

.content-events {
  margin-top: 100px;
}

.content-welcome > h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 2.875rem;
  letter-spacing: 1px;
  color: white;
}

.content-events {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1px;
  color: white;
}

.content-events > .carrousel__container {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

/* EVENT UPCOMMING */

.flex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Fix it for left side only
.flex-grid:first-child {
  border-right: 1px solid black;
} */


.even_grid-events {
  margin-top: 0px;
}

.flex-grid .col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.img-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  display: inline-block;
}

.img-main {
  background-image: url('http://via.placeholder.com/200x200');
  width: 100%;
  height: 100%;
}

.img-overlay {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: grey;
  height: 30px;
  width: 30px;
}

.img-overlay > p {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.5rem;
  color: black;
}

.img_text-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -10px;
  left: 0;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.img_text-overlay > h5 {
  font-family: 'Julius Sans One', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.15rem;
  color: black;
}
